<launch>
  <node name="multi_goal" pkg="robot_slam" type="navigation_multi_goals111.py"
 output="screen">
      <param name="goalListX" value=" 0.2,  1.6,  0.2,   1.6,  3.0,	3.0,3.0"/>
      <param name="goalListY" value=" -0.72,  -1.62, -2.52, -1.62,  -2.52,	-0.52,-0.52"/>
      <param name="goalListYaw" value="170.0,  0.0,   0.0,  0.0,  0.0, 0.0,-180"/>
  </node>
</launch>
